<dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i>&nbsp;&nbsp;综合管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('More/pweb_gl')}" data-title="前台管理" href="javascript:void(0)">前台管理</a></li>
                    <li><a data-href="{:U('More/indeximg')}" data-title="首页图标设置" href="javascript:void(0)">首页图标设置</a></li>
                    <li><a data-href="{:U('More/setup')}" data-title="小程序配置" href="javascript:void(0)">小程序配置</a></li>
            </ul>
        </dd>
    </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe62d;</i>&nbsp;&nbsp;会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('User/index')}" data-title="会员管理" href="javascript:void(0)">会员管理</a></li>
            </ul>
        </dd>
    </dl>
        
        <!-- <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp店铺管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Shangchang/add')}" data-title="添加店铺" href="javascript:;">添加店铺</a></li>
                    <li><a data-href="{:U('Shangchang/index')}" data-title="店铺管理" href="javascript:void(0)">店铺管理</a></li>
            </ul>
        </dd>
    </dl> -->
        <!-- <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp实名认证管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Applyshop/index')}" data-title="待审核" href="javascript:;">待审核</a></li>
                    <li><a data-href="{:U('Applyshop/finishlog')}" data-title="已审核" href="javascript:;">已审核</a></li>
                    <li><a data-href="{:U('Applyshop/guanggao')}" data-title="入驻广告设置" href="javascript:;">店铺保证金广告</a></li>
                    <li><a data-href="{:U('Applyshop/rzset')}" data-title="认证费用设置" href="javascript:;">认证费用设置</a></li>
            </ul>
        </dd>
    </dl> -->
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;菜单分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('ProCat/add')}" data-title="添加分类" href="javascript:void(0)">添加分类</a></li>
                    <li><a data-href="{:U('ProCat/index')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
            </ul>
        </dd>
    </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;菜单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Product/add')}" data-title="添加菜单" href="javascript:void(0)">添加菜单</a></li>
                    <li><a data-href="{:U('Product/index')}" data-title="菜单管理" href="javascript:void(0)">菜单管理</a></li>
            </ul>
        </dd>
    </dl>

    <dl id="menu-admin">
        <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;预订设置管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a data-href="{:U('Setting/set_time')}" data-title="时间段设置" href="javascript:void(0)">时间段设置</a></li>
                <li><a data-href="{:U('Setting/set_seat')}" data-title="预订座位设置" href="javascript:void(0)">预订座位设置</a></li>
            </ul>
        </dd>
    </dl>
    <!-- <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp抢购产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Panic/add')}" data-title="添加抢购产品" href="javascript:void(0)">添加抢购产品</a></li>
                    <li><a data-href="{:U('Panic/index')}" data-title="抢购产品管理" href="javascript:void(0)">抢购产品管理</a></li>
            </ul>
        </dd>
    </dl> -->
    <!-- <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp品牌管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Brand/add')}" data-title="添加品牌" href="javascript:void(0)">添加品牌</a></li>
                    <li><a data-href="{:U('Brand/index')}" data-title="品牌管理" href="javascript:void(0)">品牌管理</a></li>
            </ul>
        </dd>
    </dl> -->
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Order/index')}" data-title="全部订单" href="javascript:void(0)">全部订单</a></li>
            </ul>
        </dd>
    </dl>
    </dl>
    
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;优惠券管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Voucher/add')}" data-title="添加优惠券" href="javascript:void(0)">添加优惠券</a></li>
                    <li><a data-href="{:U('Voucher/index')}" data-title="优惠券管理" href="javascript:void(0)">优惠券管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;活动管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
            <ul>
                <li><a data-href="{:U('Activity/add')}" data-title="添加活动" href="javascript:void(0)">添加活动</a></li>
                <li><a data-href="{:U('Activity/index')}" data-title="活动管理" href="javascript:void(0)">活动管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp;&nbsp;广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Guanggao/index')}" data-title="广告管理" href="javascript:void(0)">广告管理</a></li>
                    <li><a data-href="{:U('Guanggao/add')}" data-title="添加广告" href="javascript:void(0)">添加广告</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe62d;</i>&nbsp;&nbsp;管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Adminuser/add')}" data-title="添加管理员" href="javascript:void(0)">添加管理员</a></li>
                    <li><a data-href="{:U('Adminuser/adminuser')}" data-title="管理员管理" href="javascript:void(0)">管理员管理</a></li>
            </ul>
        </dd>
    </dl>